.button {
  display: inline-block;
  cursor: pointer;
  padding: 1em 2em;
  background-color: var(--primaryColor);
  color: $white;
  text-decoration: none;
  border-radius: 5px;
  line-height: 1.4;
  font-family: inherit;
  border: none;
}

.post-page-numbers {
  @extend .button;
  margin-top: 1rem;
}
