.showcase {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 600px;

  @include fromSize($bpMd) {
    height: 650px;
  }
  @include fromSize($bpLg) {
    height: 700px;
  }

  &.no-thumbnail {
    background-color: #adadad;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5970588919161415) 0%,
      rgba(0, 0, 0, 0.6) 15%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .post-categories {
    display: flex;
    list-style: none;
    margin-bottom: 0.5rem;
    padding: 0;

    li a {
      text-transform: uppercase;
      font-weight: 700;
      margin-right: 1.25em;
      border-bottom: none;
    }

    li a::before {
      content: "•";
      color: var(--primaryColor);
      margin-right: 0.4em;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    object-position: center;
  }

  &__contents {
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    color: $white;

    @include untilSize($bpMd) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &.showcase--slider .showcase__contents {
    bottom: calc(2rem + 2.5vw);
  }

  &__title {
    line-height: 1.35;
    margin-bottom: 0.5em;
    font-size: 1.85rem;
    @include fromSize($bpMd) {
      font-size: 2.3rem;
    }
    @include fromSize($bpLg) {
      font-size: 2.7rem;
    }
  }
}
