.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0 1rem;
  color: $white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.55) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 100;

  &__logo {
    z-index: 101;
    height: 35%;

    .custom-logo {
      min-width: 100px;
      width: 100px;
      height: auto;
    }

    a {
      color: inherit;
      border-bottom: none;
    }

    h1 {
      font-size: 1.5rem;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    z-index: 102;

    button {
      cursor: pointer;
      margin-left: 0.75rem;
      background-color: transparent;
      border: none;
      color: inherit;
    }
  }

  &__links {
    margin-bottom: 0;
    padding: 0;

    li {
      list-style: none;
    }
    a {
      border-bottom: none;
      color: inherit;
      font-weight: 700;
    }

    @include untilSize($bpMd) {
      display: none;
      &.active {
        display: block;
        animation: navFadeIn 200ms ease-out;
      }

      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: scroll;

      background: rgba(0, 0, 0, 0.8);
      text-align: center;
      padding: 7.5rem 1rem 2.5rem;

      li {
        margin: 0.25rem 0;
        font-size: 1.25rem;
      }
    }

    @include fromSize($bpMd) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0 3rem;

      li {
        line-height: 1.4;
        margin: 0.25rem 0.5rem;
      }
    }
  }
}

.admin-bar .site-header {
  top: 32px;

  @include untilSize(783px) {
    top: 46px;
  }
}

@keyframes navFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
