.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0 1rem;
  color: $white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.55) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 100;

  &__logo {
    z-index: 101;
    height: 35%;

    .custom-logo {
      max-height: 100%;
      width: auto;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    h1 {
      font-size: 1.5rem;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    z-index: 102;

    button {
      cursor: pointer;
      margin-left: 0.75rem;
      background-color: transparent;
      border: none;
      color: inherit;
    }
  }

  &__links {
    display: flex;

    li {
      list-style: none;
      margin: 0.6rem;
    }
    a {
      text-decoration: none;
      color: inherit;
      font-weight: 700;
    }

    @include untilSize($bpMd) {
      display: none;
      &.active {
        display: flex;
        animation: navFadeIn 200ms ease-out;
      }

      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: rgba(0, 0, 0, 0.8);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;

      li {
        margin: 0.5rem 0;
        font-size: 1.35rem;
      }
    }
  }
}

.admin-bar .site-header {
  top: 32px;

  @include untilSize(783px) {
    top: 46px;
  }
}

@keyframes navFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
