.site-footer {
  padding: 1rem 0;
  margin-top: auto;
  color: $white;
  background-color: var(--primaryColor);
  display: flex;

  &__widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: -1rem;

    img {
      height: auto;
    }

    h2 {
      font-size: 1.5rem;
      padding-bottom: 0.25em;
      margin-bottom: 0.5em;
      line-height: 1.5;
      border-bottom: 1px solid rgba($white, 0.75);
    }

    ul {
      padding-left: 0;
    }

    ul li {
      list-style: none;
      line-height: 2;
    }
  }

  &__widgets > div {
    min-width: 320px;
    flex-basis: 375px;
    padding: 1rem;

    @include fromSize($bpMd) {
      padding: 2rem;
    }
  }
}
