.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0 1rem;
  color: $white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.55) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 100;

  &__logo {
    z-index: 101;
    width: 125px;

    img.custom-logo {
      width: 100%;
      height: auto;
      margin-bottom: -4px;
    }

    a {
      color: inherit;
      border-bottom: none;
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    z-index: 102;

    button {
      cursor: pointer;
      margin-left: 0.75rem;
      background-color: transparent;
      border: none;
      color: inherit;
    }
  }

  &__links {
    margin-bottom: 0;
    padding: 0;

    li {
      list-style: none;
      cursor: pointer;
    }
    a {
      border-bottom: none;
      color: inherit;
      font-weight: 700;
    }
    li.menu-item-has-children > a {
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        background: url("./assets/img/down-white.svg") no-repeat center;
        margin-left: 0.35em;
        margin-top: 0.1em;
        width: 0.7em;
        height: 0.7em;
      }
    }

    @include untilSize($bpMd) {
      display: none;
      &.active {
        display: block;
        animation: navFadeIn 200ms ease-out;
      }

      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: scroll;

      background: rgba(0, 0, 0, 0.9);
      text-align: center;
      padding: 10rem 1rem 2.5rem;

      li {
        margin: 0.25rem 0;
        font-size: 1.25rem;
      }
    }

    .sub-menu {
      padding: 0.5rem;
      margin: 0.5rem 0;
      background-color: rgba(75, 75, 75, 0.1);
      border: 1px solid rgba($darkGrey, 0.25);
      border-radius: 3px;

      display: none;
      &.active {
        display: block;
      }
    }

    @include fromSize($bpMd) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0 3rem;

      li {
        line-height: 1.4;
        margin: 0.25rem 0.75rem;
      }

      li.menu-item-has-children {
        position: relative;
      }

      .sub-menu {
        position: absolute;
        top: calc(100% + 0.5rem);
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba($black, 0.15);
        border: 1px solid rgba($black, 0.175);
        white-space: nowrap;
      }

      .sub-menu li {
        padding: 0.2em 0;
      }
    }
  }
}

.admin-bar .site-header {
  top: 32px;

  @include untilSize(783px) {
    top: 46px;
  }
}

@keyframes navFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
