$breakpoints: (
  "sm": $bpSm,
  "md": $bpMd,
  "lg": $bpLg,
  "xl": $bpXl,
  "xxl": $bpXxl,
);

@each $name, $size in $breakpoints {
  .until-#{$name} {
    @include fromSize($size) {
      display: none;
    }
  }
  .from-#{$name} {
    @include untilSize($size) {
      display: none;
    }
  }
}
